{% extends 'base.html' %}

{% block title %} Music Search {% endblock %}

{% block content %}
<form method='post' action="/recommend/">
    {% csrf_token %}
    <br>
    <center>
        <h2>Music Search Recommendations</h2>
    </center>
    <br>
    <div>
        Artist: {{ form.artist }}
    </div>
    <br>
    <br>
    <div>
        Song1: {{ form.song1 }}
    </div>
    <br>
    <br>
    <div>
        Song2: {{ form.song2 }}
    </div>
    <br>
    <br>
    <div>
        Song3: {{ form.song3 }}
    </div>
    <br>
    <br>
    <div>
        Song4: {{ form.song4 }}
    </div>
    <br>


    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
<br>

{% if tracks %}
<table class="table">
<tbody>
<tr>


{% for track in tracks %}

<td>
<iframe src="https://open.spotify.com/embed/track/{{ track }}" width="300" height="380" 
frameborder="10" allowtransparency="true" allow="encrypted-media"></iframe>
</td>

{% endfor %}

</tr>
</tbody>
</table>

{% endif %}

{% endblock %}
