{% extends 'base.html' %}

{% block title %} Advanced Search {% endblock %}

{% block content %}
<form method='post' action="/advanced_results/">
    {% csrf_token %}
    <br>
    <center>
        <h2>Advanced Search</h2>
    </center>
    
    
    <br>
    <div>
        Song name: {{ form.name }}
    </div>
    <br>
    
    <br>
    <div>
        Tempo: {{ form.tempo }}
    </div>
    <br>

    <br>
    <div>
        Song length (in minutes):    From {{ form.durMin }} To {{ form.durMax }}
    </div>
    <br>

    <br>
    <div>
        Allow Explicit songs: {{form.explicit}}
    </div>
    <br>

    <br>
    <div>
        Sort by: {{ form.sort }}
    </div>
    <br>
 
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>

</form>
<br>

{% if not albums %}

<br>
    <div>
        No resultds
    </div>
    <br>
{% endif %}
{% if albums %}
<table class="table">
<tbody>
<tr>


{% for album in albums %}

<td>
<iframe src="https://open.spotify.com/embed/track/{{ album.id }}" width="300" height="380" 
frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</td>

{% endfor %}

</tr>
</tbody>
</table>

{% endif %}

{% endblock %}