{%load static%}
<!DOCTYPE html>

<!This is the current base navebar content. Most of it is unconnected to views, everyone will have to help hook things up as features go live.>

<head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <!HOMEPAGE LINK HERE>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">

            <!LINK HERE, TBD>
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">

            <a class="nav-link" href="{% url 'messager:messages' %}">Messager</a>
          </li>
          <li class="nav-item dropdown">

            <!DROPDOWN LINK AND SUBACTIONS HERE, TBD>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">

            <!DISABLED LINK HERE, we can use this to showcase benefits of user login maybe?>
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">

          <!SIMPLE SEARCH BAR CONTROLS HERE, need to add a button that leads to advanced search page>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</head>

<!CURRENT PAGE CONTENT GOES HERE>
<body>

    <div class="container">
        {%block content%}
        {%endblock%}
    </div>
    
</body>

<!FOOTER GOES HERE EVENTUALLY>