{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<br>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                X
            </button>
            <div class="center-align-message">{{ message }}</div>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <div class="center-align-message">{{ message }}</div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="formdiv">
    <form id="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <br/>
        <input type="submit" class ="btn btn-dark" value="Log in">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    {# Assumes you set up the password_reset view in your URLconf #}
    <br/>
    <a href="signup.html">Need an account? Sign up</a>
</div>

{% endblock %}



