{% extends 'base.html' %}
{% block content %}

<!-- This is our generic bottom-level content page, to be filled out with PLAYLIST TITLE, PLAYLIST TYPE, TRACKS, COMMENTS, and POSSIBLY A SIMILAR CONTENT SIDEBAR
This page should be fed a PLAYLIST object, a list of it's TRACKS, and a list of it's associated COMMENTS, and if a recommendation system is included the necessary
additional playlists.
Context vars: content, comments, playlist -->

<body>
    <div>
        (Create Playlist button goes here!)
    </div>
    <table class="table">
        <tr>
            {% for song in content %}
                <!--     
                <td>
                    <img src="{{playlist.img}}" class="img-fluid">
                </td>
                -->
                <td>
                    Title: {{ playlist.title }}
                </td>
                <td>
                    Comments: {{ len(comments) }}
                </td>
                <td>
                    Add to Favorites
                </td>
            {% endfor %}
        </tr>
    </table>
    {% endfor %}
</body>
{%endblock%}