{% extends 'base.html' %}

{% block title %} ProfBeats | Profile {% endblock %}

{% block content %}
<br>
<center><h1>Profile of {{ request.user }}</h1></center>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                X
            </button>
            <center>{{ message }}</center>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <center>{{ message }}</center>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container">
    <form method='post' action="/profile/">
        {% csrf_token %}
        <h2>Find a Friend by Email</h2>
        <br/>
        <div>
            Recipient: {{ form.recipient }}
        </div>
        <br/>
        <button class="btn btn-primary btn-lg" type="submit">Send Friend Request</button>
    </form>
</div>
<br/>

{% if friend_request_list %}
<center><h2>Pending Friend Requests</h2></center>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">Email</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
    {% for fr in friend_request_list %}
      <tr>
        <td>{{ fr.sender }}</td>
        <td colspan="2" class="text-right"><a class="btn btn-success" href="{% url 'accept_friend_request' fr.id %}">Accept</a>
          <a class="btn btn-danger" href="{% url 'deny_friend_request' fr.id %}">Deny</a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<center><h2>Friend List</h2></center>
{% if request.user.profile.friendList.exists %}
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
    {% for friend in request.user.profile.friendList.all %}
      <tr>
        <td>{{ friend }}</td>
        <td class="text-right"><a class="btn btn-secondary" href="{% url 'messager:writemessage_r' friend.get_username %}">Send a Message</a>
          <a class="btn btn-danger" href="{% url 'delete_friend' friend.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
<center><h6>Your friend list is empty!</h6></center>
{% endif %}
<br>
{% endblock %}